footer{
    float: left;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(29, 28, 28);
    color: rgb(221, 216, 216);
    .boxinfo{
        width: 45%;
        min-height: 30px;
        margin-left: 20px;
    }
}