header{
    float: left;
    width: 100%;
    height: 200px;
    background-color: rgb(24, 24, 24);
    .boxtitlenav{
        width: 8%;
        float: left;
        margin-left: 40px;
    }
    nav{
        margin-top: 2px;
        float: left;
        background-color: brown;
        width: 100%;
        min-height: 39px;
        ul{
            float: left;
            width:60%;
            height: 36px;
            margin: 0px;
        }
        li{
            padding: 16px 5px 16px 5px;
            width: 15%;
            float: left;
            list-style: none;
            padding-top: 11.5px;
            text-align: center;
            a{
                color: white;
                text-decoration: none;
                font-size: 16px;
            }
            
        }
        li:hover{
            background-color: orangered;
        }
        h3{
            margin-bottom: 10px;
            color: whitesmoke;
            margin-top: 0px;
            margin-right: 10px;
            font-size: 29px;
        }
    }
    .boxlogin{
        width: 15%;
        float: left;
        height: 33px;
        padding-top: 13px;
        padding-left: 80px;
        a{
            text-decoration: none;
            color: white;
            
        }
    }
    .boxtitle{
        float: left;
        width: 80%;
        padding-top: 15px;
        img{
            float: left;
            width: 122px;
            height: 122px;
            margin-left: 90px;

        }
        h1{
            float: left;
            color: whitesmoke;
            font-size: 57px;
            margin-left: 10px;
        }
        h2{
            float: left;
            color: whitesmoke;
            margin-top: 68px;
            margin-left: 9px;
        }
    }
}