
body {
  width: 100%;
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.clear {
  clear: both;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .heading__box-title {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  position: relative;
}

header .heading__box-title img {
  float: left;
  width: 122px;
  height: 122px;
}

header .heading__box-title h1 {
  float: left;
  color: white;
  font-size: 58px;
  margin: 30px 5px 0 10px;
  padding: 0;
}

header .heading__box-title h2 {
  color: white;
  margin: 60px 0 0 0;
  padding: 0;
}
header .search {
  position: absolute;
  right: 100px;
  top: 70px;
}
header .search input {
  width: 500px;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
header .search button {
  width: 60px;
  height: 30px;
  outline: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  color: white;
  background-color: #e29f49;
  cursor: pointer;
  position: absolute;
  right: 0;
}
header .search button i {
  font-size: 18px;
}
header .search button i:hover {
  transform: rotate(360deg);
  transition: all .7s ease;
}
nav {
  width: 100%;
  margin: 0;
  min-height: 45px;
  box-sizing: border-box;
}
nav .nav__box-content{
  width: 1180px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}
nav .nav__box-content h3 {
  width: 290px;
  font-size: 25px;
  margin: 8px 0 0 0;
  padding: 0;
  color: black;
}
nav .nav__box-content ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav .nav__box-content ul li {
  list-style: none;
  margin: 12px;
  padding: 0;
}
nav .nav__box-content ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
nav .nav__box-content li a:hover {
  color: red;
  transition: all .8s ease;

}
nav .nav__box-content li a.active {
  color: red;
}
nav .nav__box-login {
  margin-left: 300px;
}
main {
  margin-top: 20px;
  min-height: 320px;
}

.main__box-left {
  width: 100%;
  min-height: 155px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
}
.main__box-left h4 {
  font-size: 16px;
  margin: 0;
  padding: 8px; 
}
.main__box-left li {
  list-style: none;
  height: 30px;
}

.main__box-left li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-left: 5px;
  font-weight: normal;
  font-family: Arial;
}

.main__box-left li a:hover {
  color: blue;
  transition: all .5s ease;
  font-size: 18px;
}
.main__box-left li a.active {
  color: blue;
}

.img__box-info-member {
  width: 80%;
  height: 230px;
  margin-left: 10%;
  margin-top: 10px;
}

.main__box-right {
  width: 100%;
  height: 320px;
  background-color: white;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 15px;
}
.main__box-right h2 {
  font-size: 24px;
  margin: 0;
  padding: 15px;
}

.main__box-right table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 0px;
  padding: 5px;
  text-align: center;
}

.main__box-right tbody{
  box-shadow: 0 0 2px;
}

.main__box-right table th {
  background-color: #dfdfdf;
}

.main__box-title {
  justify-content: left;
  padding: 10px 0 0 15px;
  width: 100%;
  font-weight: bold;
  height: 40px;
  font-size: 20px;
  background-color: #03253f;
  color: white;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
}

.main__box-tongquan {
  width: 100%;
  min-height: 280px;
}

.box-3 {
  float: left;
  width: 270px;
  background-color: #f5f5f5;
  margin: 50px 5px 50px 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  box-sizing: border-box;
  min-height: 150px;
  cursor: pointer;
}
.box-3 i {
  font-size: 35px;
  margin: 5px;
  padding: 40px 0 0 0;
  cursor: pointer;
}
.box-3 span {
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}
.box-number-1 {
  width: 90%;
  background-color: #333333;
  margin-left: 5%;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.box-number-1__title {
  width: 90%;
  font-size: 30px;
  margin-left: 5%;
}

.col-4 {
  float: left;
  width: 280px;
  margin-right: 1%;
}

.col-12 {
  float: left;
  width: 74.603%;
  min-height: 30px;
}

h4 {
  margin-left: 10px;
  font-size: 17px;
}

footer {
  float: left;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  color: #ddd8d8;
}

footer .footer_box-info {
  width: 45%;
  min-height: 30px;
  margin-left: 20px;
}
