<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Nhân Sự - Admin Human</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">  
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--Start Header-->
    <header style="background-position: center; background-size: cover; background-image: url(images/banner.jpg);">
        <!--Logo lớn-->
        <div class="heading__box-title">
            <i class="fas fa-users-cog" style="  float: left; color: white; font-size: 60px; padding-top: 30px;"></i>
            <h1>Quản Lý</h1>
            <h2>Nhân Sự</h2>    
            <!--Search-->
            <div class="search">
                <input type="text" name="#" id="search" placeholder="Nội dung tìm kiếm...">
                <button><i class="fas fa-search"></i></button>
            </div>  
        </div>      
    </header>
    <div class="clear"></div>
    <!--Menu-->
    <nav>
        <div class="nav__box-content">
            <h3>Trưởng Phòng Nhân Sự</h3>
            <ul>
                <li><a href="HR_truongphong.html">Trang Chủ</a></li>
                <li><a href="HR_qlnhansu.html">Quản Lý Nhân Sự</a></li>
                <li><a href="HR_qlphongban.html">Quản Lý Phòng Ban</a></li>
                <li><a href="HR_kiemduyet.html">Kiểm Duyệt</a></li>
            </ul>
            <div class="nav__box-login">
                <li><a href="#">Đăng Xuất</a></li>
            </div>
        </div>
    </nav>
    <div class="clear"></div>
    <!--End Header-->

    <!--Start Home-->
    <!--Home Cố Định-->
    <div class="container">
    <main>
        <!--Cột Trái-->
        <div class="col-4">
            <!--Danh sách phòng ban-->
            <div class="main__box-left">
                <!--Tiêu đề-->
                <div class="main__box-title">
                    <span>Bảng Điều Khiển</span>
                </div>
                <ul>
                    <li><i class="fas fa-user-circle"><a href="HR_qlnhansu.html">Quản Lý Nhân Sự</a></i></li>
                    <li><i class="fas fa-building"><a href="HR_qlphongban.html">Quản Lý Phòng Ban</a></i></li>
                </ul>
            </div>            
            <!--Thông tin nhân viên-->
            <div class="main__box-left">
                <h4>Tổng Nguời Dùng</h4>
                <div class="box-number-1">300</div>
                <h4>Đang Online</h4>
                <div class="box-number-1"> 0 </div>
            </div>
        </div>

    <!--Home Thay Đổi-->
        <!--Cột Phải Article-->
        <div class="col-12">
            <!--Bảng Phòng Ban-->
            <div class="main__box-right-department">
                <div class="main__box-title">
                    <span>Danh Sách Nhân Viên</span>
                </div>
                <!--Start Phòng Ban Kế Toán-->
                    <div class="main__box-all-profile-personal">
                        <div class="main__box-all-profile-personal-title">
                            <p>PB02 - Phòng Kế Toán</p>
                            <hr>
                        </div>
                        <!--Bảng thông tin nhân viên công ty-->
                        <table>
                            <!--Tiêu Đề-->
                            <tr> 
                            <th>STT</th>                            
                            <th>Mã Nhân Viên</th>
                            <th>Họ Và Tên</th> 
                            <th>Phòng Ban</th>
                            <th>Chức Vụ</th>
                            <th>Ngày Nhận Việc</th>
                            <th>Email</th>
                            <th>Điện Thoại</th>
                            <th>Chi Tiết</th>
                            </tr>
                            <!--Thông Tin Nhân Viên 1-->
                            <tr>
                            <td>1</td>
                            <td>KT015</td>
                            <td>Trương Giáo Sư</td>
                            <td>Phòng Kế Toán</td>
                            <td>Truởng Phòng Kế Toán</td>
                            <td>10/05/2019</td>
                            <td>giaosu123@gmail.com</td>
                            <td>0932156489</td>
                            <td>
                                <a href="profile.html">Thông Tin</a>
                            </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 2-->
                            <tr>
                                <td>2</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 3-->
                            <tr>
                                <td>3</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 4-->
                            <tr>
                                <td>4</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 5-->
                            <tr>
                                <td>5</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 6-->
                            <tr>
                                <td>6</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 7-->
                            <tr>
                                <td>7</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 8-->
                            <tr>
                                <td>8</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 9-->
                            <tr>
                                <td>9</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>
                            <!--Thông Tin Nhân Viên 10-->
                            <tr>
                                <td>10</td>
                                <td>KT015</td>
                                <td>Trương Giáo Sư</td>
                                <td>Phòng Kế Toán</td>
                                <td>Nhân Viên Kế Toán</td>
                                <td>10/05/2019</td>
                                <td>giaosu123@gmail.com</td>
                                <td>0932156489</td>
                                <td>
                                    <a href="profile.html">Thông Tin</a>
                                </td>
                            </tr>                                                                                                                                     
                        </table>
                    </div>
                    <!--End Phòng Kế Toán-->
            <!--Quay về-->
            <div class="backhome-qlnhansu">
                <a href="HR_qlphongban.html">Quay Về</a>
            </div>    
                </div>
            <!--End 2 Phòng Ban-->
            </div>
            <div class="clear"></div>
        </div>
        <!--End Home Thay Đổi-->
    </main>
    </div>
    <div class="clear"></div>
    <!--End Home Cố Định-->

    <!--Start Footer-->
    <footer>
        <div class="footer__box-info">
        </div>
    </footer>
    <!--End Footer-->
</body>

</html>